{% extends 'base.html' %}

{% block body %}

<div class="container">
  <div class="row">
      <br>
      <br>
  </div>
  <div class ="row">
    <div class="col-md-6 offset-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Employee Type Code</th>
            <th scope="col">Employee Type</th>
          </tr>
        </thead>
        <tbody>
          {% for empType in allEmpTypes %}
          <tr>
            <th scope="row">{{empType.EmpTypeCode}}</th>
            <td>{{empType.EmpType}}</td>
            <td><button class="button" class="btn btn-primary">Edit
            <td><button class="button" class="btn btn-primary">Delete
            <!--<td><a href="{{empType.EmpTypeCode}}">Edit</a></td>
            <td><a href="#">Delete</a></td>-->
          </tr>
          {%endfor%}
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-3">
      <form method="POST" >
        {% csrf_token %}
        {{form}}
        <br>
        <button class="button" type="submit" class="btn btn-primary">Add Employee Type</button>
      </form>
    </div>
  </div>
</div>


{%endblock%}
