{% extends 'base.html' %}

{% block body %}

<div class="container">
  <div class="row">
      <br>
      <br>
  </div>
  <div class ="row">
    <div class="col-md-6 offset-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Employee Type Code</th>
            <th scope="col">Employee Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td><a href="#">Edit</a></td>
            <td><a href="#">Delete</a></td>
          </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-3">
      <form method="POST" >
        {% csrf_token %}
        {{form.as_p}}
        <button class="button" type="submit" class="btn btn-primary">Add Employee Type</button>
      </form>
    </div>
  </div>
</div>


{%endblock%}
